@import "tailwindcss";
body {
  padding: 0;
  margin: 0;
  background-color: #faf2e9;
  /* overflow: hidden; */
}

* {
  font-family: "Satoshi-Variable";
}

@theme {
  --color-ccgreen: #065a32;
  --color-cream: #faf2e9;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

.scroller {
  animation: scroll 30s linear infinite;
}

.img-clip {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.img-clip2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.img-clip3,
.img1,
.img2,
.img3,
.img4 {
  transform: scale(0);
  /* transform-origin: center; */
}

.img-clip4 {
  transform: scale(0);
}
